Repository danielsogl/angular-setup: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,json,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: '*.ts'
      run: npx eslint --fix {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: npm test
    build:
      run: npm run build

feat: update Angular setup schematic to replace ng-setup with ng-add, add ESLint, Prettier, Lefthook, and Vitest configuration options
  package.json
  src/collection.json
  src/ng-add/index.ts
  src/ng-add/index_spec.ts
  src/ng-add/integration_spec.ts
  src/ng-add/schema.d.ts
  src/ng-add/schema.json
  src/ng-add/tools/eslint.ts
  src/ng-add/tools/lefthook.ts
  src/ng-add/tools/lefthook_spec.ts
  src/ng-add/tools/prettier.ts
  src/ng-add/tools/prettier_spec.ts
  src/ng-add/tools/vitest.ts
  src/ng-add/tools/vitest_spec.ts
Due: prettier, eslint

fix: update package.json to move @angular-eslint/schematics to dependencies
  package.json
Due: prettier

feat: move @danielsogl/angular-setup to devDependencies in package.json during ngAdd
  src/ng-add/index.ts
Due: prettier, eslint

feat: add Prettier formatting scripts to package.json during ngAdd
  src/ng-add/tools/prettier.ts
Due: prettier, eslint

feat: integrate package-manager-detector to dynamically identify package manager during dependency installation in ng-add
  package-lock.json
  package.json
  src/ng-add/index.ts
  src/ng-add/integration_spec.ts
  src/ng-add/package-manager_spec.ts
Due: prettier, eslint

feat: enhance ng-add schematic with validation checks and improved file operations
  eslint.config.mjs
  package-lock.json
  package.json
  src/collection.json
  src/ng-add/index.ts
  src/ng-add/integration_spec.ts
  src/ng-add/templates/lefthook/lefthook.yml
  src/ng-add/templates/prettier/.prettierignore
  src/ng-add/templates/prettier/.prettierrc.json
  src/ng-add/tools/lefthook.ts
  src/ng-add/tools/lefthook_spec.ts
  src/ng-add/tools/prettier.ts
  src/ng-add/tools/prettier_spec.ts
  src/ng-add/tools/vitest.ts
  src/ng-add/tools/vitest_spec.ts
  src/ng-add/utils/file-operations.ts
  src/ng-add/utils/package-json.ts
  src/ng-add/utils/validation.ts
  src/ng-add/utils/versions.ts
Due: prettier, eslint

feat: add __filename and __dirname globals to ESLint config; optimize version retrieval in ng-add utility
  eslint.config.mjs
  src/ng-add/utils/versions.ts
Due: prettier, eslint

feat: update Vitest configuration to target Node.js 20
  vitest.config.mts
Due: none

feat: add MIT License file to the project
  LICENSE
Due: none

docs: enhance README with improved descriptions, installation instructions, and feature details
  README.md
Due: prettier

docs: update README to reflect changes in schematic usage and installation command
  README.md
Due: prettier

feat: add is-ci package to manage CI environments and update prepare script accordingly
  package-lock.json
  package.json
Due: prettier
